
body	{
		background-color: #FFFFFF;
		padding:0px;
		border:0px;
	}

h2	{	font-family:Arial;
	}

p	{	font-family:Arial;
		display: inline;
	}

canvas	{	background-color: #B3E0FF;
		border-color: #007ACC;
		border-width: 1px;
		border-style: solid;
		margin:0px;
		
	}

div	{	background-color: #007ACC;
		padding:10px;
		width:982px;
		height:100px;
		color: #FFFFFF;
	}