
body	{	background-color: #FFFFFF;
		padding:0px;
		border:0px;
		margin:0px;
	}

h2	{	font-family:Arial;
		margin:1px;
	}

p	{	font-family:Arial;
		margin:1px;
	}

canvas	{	background-color: #E5F0FF;
		border-color: #007ACC;
		border-width: 1px;
		border-style: solid;
		margin:0px;
		padding:0px;	
	}
#wrapper{	width: 100%;
		background-color: #E5F0FF;
		height:94px;
		border-width: 3px;
		border-color:#007ACC;
		border-style: solid;
		padding:0px;
		margin:0px;
		box-sizing: border-box;
	}
#header	{	background-color: #007ACC;
		padding:3px;
		border-width: 0px;
		width: calc(33.3% - 6px);
		float: left;
		height:calc(100% - 6px);
		margin:3px;
		color: #FFFFFF;
		box-sizing: border-box;
		overflow: auto;
	}
	
#buttons{	background-color: #007ACC;
		padding:2px;
		border-width: 0px;
		width: calc(33.3%);
		float: left;
		height:calc(100% - 6px);
		margin-top:3px;
		margin-bottom:3px;
		margin-right:0px;
		margin-left:0px;
		color: #FFFFFF;
		box-sizing: border-box;
		overflow: auto;
	}

#info{	background-color: #007ACC;
		padding:2px;
		border-width: 0px;
		width: calc(33.3% - 6px);
		float: left;
		height:calc(100% - 6px);
		margin:3px;
		color: #FFFFFF;
		box-sizing: border-box;
		overflow: auto;
	}

html, body {	width:  100%;
		height: 100%;
		margin: 0px;
		padding:0px;
		overflow: hidden;
		background-color: #007ACC;
	}
	
button	{	background-color: #E5F0FF;
		font-family:Arial;
		border-color: #007ACC;
		border-width: 1px;
		border-style: solid;
		margin:1px;
	}
	
form	{
		font-family:Arial;
		background-color: #007ACC;
		border-color: #007ACC;
		border-width: 1px;
		border-style: solid;
	}
input	{
		font-family:Arial;
		background-color: #E5F0FF;
		border-color: #007ACC;
		border-width: 1px;
		border-style: solid;
		text-align: center;
		margin:1px;
	}